<div class="boxtheme" [ngStyle]="current">
 Change Theme

       <button (click)="changeTheme(0)">Theme1</button>
       <button (click)="changeTheme(1)">Theme2</button>
       <button (click)="changeTheme(2)">Theme3</button>

  <br>
  Change Theme using Select Box
  <select [(ngModel)]="currentIndex" (change)="changeTheme()">
     <option value="0">Theme1</option>
     <option value="1">Theme2</option>
     <option value="2">Theme3</option>
  </select>

<h1> Angular Is working </h1>
<hr>
{{2+4}} is  "2+4"
<hr>
{{title}} <br>
<h3><u>Developers</u></h3>
<ul>
  <li *ngFor = "let n of programmers">{{n}}</li>
</ul>
 {{message}}
<hr>
<!--
<app-two [menuitem]="menuitems[0]"></app-two>
<app-two [menuitem]="menuitems[1]"></app-two>
<app-two></app-two>
<app-two></app-two>
<app-two></app-two>
-->
   <app-two *ngFor = "let n of menuitems; let i=index;" [menuitem]="n" [color]="menucolors[i]"
   (listen)="process($event)"></app-two>
</div>


